$purple_color: #6441A4;
$grey_color: #282C34;
$facebook_blue_color: #3B5998;
$instagram_pink_color: #f06292;

$desktop: "(min-width: 769px) and (orientation: landscape)";
$media: "only screen and (max-width: 768px)";

$crowdfund_prog_value: 17141;
