#sponsors {
    background-color: $grey_color;
    width: 100%;

    .sponsors_left {
        border: 10px solid white;
        color: white;
        padding: 50px;
        height: 100vh;

        .sponsors_btn {
            margin-top: 50px;

            .sponsors_btn_a {
                background-color: $purple_color;
                border: 2px solid white;
                padding: 15px 50px;
                &:hover {
                    background-color: white;
                    border-radius: 25px;
                    color: black;
                }
            } // sponsors_btn_a
        } // sponsors_btn
    } // sponsors_left

    @media #{$media} {
        .sponsors_left { border: none !important; }
    } // media sponsors_left

    .sponsors_right {
        height: 100vh;
        overflow: auto;
        background-color: white;
        border-right: 10px solid $grey_color;

        .sponsors_right_h1 {
            margin-top: 50px;
            color: black;
        } // sponsors_right_h1

        .sponsors_img {
            filter: grayscale( 100% );
            height: auto;
            padding: 50px;
            width: 33vh;
            &:hover { cursor: pointer; filter: grayscale( 0% ); transform: scale(1.5);}
        } // sponsors_img

        .sponsors_premium_logo { width: 50vh !important; }

        .sponsors_plat {
            filter: grayscale( 100% );
            height: auto;
            padding: 50px;
            width: 40vh;
            &:hover { cursor: pointer; filter: grayscale( 0% ); transform: scale(1.5); }
        } // sponsors_plat

        .sponsors_gold {
            filter: grayscale( 100% );
            height: auto;
            padding: 50px;
            width: 35vh;
            &:hover { cursor: pointer; filter: grayscale( 0% ); transform: scale(1.5); }
        } // sponsors_gold

        .sponsors_silver {
            filter: grayscale( 100% );
            height: auto;
            padding: 50px;
            width: 30vh;
            &:hover { cursor: pointer; filter: grayscale( 0% ); }
        } // sponsors_silver

        .sponsors_bronze {
            filter: grayscale( 100% );
            height: auto;
            padding: 50px;
            width: 25vh;
            &:hover { cursor: pointer; filter: grayscale( 0% ); }
        } // sponsors_bronze

    } // sponsors_right

    @media #{$media} {
        .sponsors_right {
            height: auto !important;
            border: none !important;

            .sponsors_img { width: 50%; }
            #sponsors_premium_logo { width: 100% !important; }
        } // sponsors_right
    } // media sponsors_right

} // sponsors
